*, *::after, *::before {box-sizing: border-box;}

.conteudo {
    background-color: white;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;

}
h1, h2, p {
    text-align: center;
}

/* _________________________________________________________________________ */
/* Trocar a cor de fundo da tela continuamente */
/* _________________________________________________________________________ */

/* Etapa 1: Regra de animação (animaFundo) */
/* Troca a cor de fundo da tela */

@keyframes animaFundo {

    /* Sintaxe from/to: somente para 2 estados */
    /* from {background-color: lightblue;} */
    /* to{backgound-color: lightgreen;} */
    0% {background-color: lightblue;}
    50% {background-color: lightcoral;}
    100% {background-color: lightgreen;}
    
}
body {
    font-family: 'Segoe UI';

    /* Etapa 2: Executar/chamar a animação (animaFundo) */
    /* Versão abreviada das linhas acima */
    animation: animaFundo 3s infinite alternate-reverse;
}

/* Faz aparecer o 2º texto com atraso */
@keyframes aparecer {
    from {opacity: 0;}
    to {opacity: 1;}
}

#dois {
    /* Etapa 2: Executar/chamar a animação */
    animation-name: aparecer;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

/* Girar imagem */
/* _____________________________________________________________ */

#tres {
    border: solid 3px;
    padding: 5px;
    width: 750px;
    margin: auto;
}

img{
    width: 150px;
    height: 150px;
}

/* Girar imagem: Etapa 1 */
@keyframes animaImagem {
    from{transform: translateX(0) rotateX(0);
    opacity: 0;}

    to{transform: translateX(570px) rotateZ(360deg);
    opacity: 1;}
}

#tres img {
    animation-name: animaImagem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/* Deslizar imagem */

#quatro {
   border: solid 3px;
   padding: 5px;
   width: 750px;
   margin: auto;
   margin-top: 10px;
}

@keyframes animaImagem2 {
    form {transform:translateX(0);}
    to {transform: translateX(580px);}
    
}
#quatro img{
   animation-name: animaImagem2; 
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-direction: alternate;
}

